.App {
  /* /* background: #E1D1B9;  */
  
  min-height: 100vh;
}



.form-container {
  min-height: 60vh;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(66, 68, 121);
    background-image: url('the-met-1.jpg');
      background-size: contain;
      background-position: center;
      opacity: 0.7;
}

.form-container h1 {
  /* color: #D09D99; */
  /* color: #A6C3B7; */
  font-size: 2.5em;
  /* opacity: 1; */
  /* background: rgb(230, 228, 228, 0.5); */
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: rgb(66, 68, 121);

}

.search-bar {
  width: 380px;
  border: none;
  padding: 10px;
  background-color: transparent;
   border: 0;
  border-bottom: 2px #56576B solid;
  border-radius: 0;
  margin-right: 25px;
  font-size: 1.2em;
  font-weight: bolder;
  color: #eee;

}

form input {
  transition: all .25s ease-in;
 
}

form input:focus {
  background-color: transparent;
  transform: scale(1.1);
}

.search-button {
  padding: 10px;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
  border: 3px #eee solid;
  color: #eee;
  transition: all .25s ease-in;


}

.search-button:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}

.art-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.art-image {
  max-width: 250px;
}

.query {
  color:#D09D99;
}

.main-container {
  padding: 20px;

}

footer {
   background: #56576B;
   color: #eee;
   min-height: 100px;
   text-align: center;
   padding-top: 30px;
}

.hero {
margin: 50px;
text-align: center;
} 

.spinner-container {
  text-align: center;
}