.App {
  /* /* background: #E1D1B9;  */
  
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form-container {
  min-height: 50vh;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #56576B;
}

.form-container h1 {
  /* color: #D09D99; */
  color: #A6C3B7;
  font-size: 2.5em;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;

}

.search-bar {
  width: 400px;
  border: none;
  padding: 10px;
  background-color: transparent;
   border: 0;
  border-bottom: 1px #959A94 solid;
  border-radius: 0;
  margin-right: 20px;
  font-size: 1.2em;

}

form input:focus {
  background-color: transparent;
}

.search-button {
  padding: 10px;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  color: #eee;

}

.art-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.art-image {
  max-width: 300px;
}


.query {
  color:#D09D99;
}

.main-container {
  padding: 20px;

}