.App {
  text-align: center;
  background: #E1D1B9;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form-container {
  height: 40vh;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container h1 {
  color: #D09D99;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  background-color: #eee;
   border: 0;
  border-bottom: 1px #959A94 solid;
  border-radius: 0;
  height: 100%;
  box-shadow: 0px 8px 15px #666;
  padding: 10px 20px;
}

form input:focus {
  background-color: transparent;
}

.search-button {
  padding: 10px;

}

.art-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.art-image {
  max-width: 300px;
}


.query {
  color:#56576B;
}