body {
  margin: 0;
  font-family: 'Palanquin Dark', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

* {
  user-select: none;
  outline: none;
}
